---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/camunda/infraex-common-config
      rev: 1.5.3 # use tags until renovate supports sha: https://github.com/renovatebot/renovate/issues/22567
      hooks:
          - id: update-action-readmes-docker

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: check-added-large-files

    - repo: https://github.com/mattleibow/actionlint
      rev: 7b6f502befda0d99dcb5a1cf8cf72d792bfa7c8a
      hooks:
          - id: actionlint
            args: [-ignore=SC2155]

    - repo: https://github.com/renovatebot/pre-commit-hooks
      rev: 42.39.4
      hooks:
          - id: renovate-config-validator
            args: [--strict]
            # TODO : revert this when https://github.com/renovatebot/pre-commit-hooks/issues/2460 is fixed
            language_version: lts

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.3
      hooks:
          - id: yamlfmt
