---
name: pre-commit

on:
    pull_request:
    push:
        branches: [main]

jobs:
    lint:
        uses: ./.github/workflows/lint-global.yml
        secrets: inherit

    pre-commit-renovatejsonfile:
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            # Required for pre-commit to work with Python referenced in .tool-versions for Ubuntu >= 24.04
            - name: Install SQLite dependency
              run: sudo apt-get install -y libsqlite3-dev

            - name: Install asdf tools
              uses: ./.github/actions/asdf-install-tooling

            - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
              name: Validate renovate5.json
              with:
                  extra_args: --all-files --verbose

            - name: Prepare for pre-commit
              run: |
                  cp default.json5 .github/renovate.json5  # renovate-config-validator hook can only validate files that are called renovate.json5
                  git add .github/renovate.json5

            - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
              name: Validate default5.json
              with:
                  extra_args: --all-files --verbose

            - name: Revert default.json5 changes
              run: |
                  git restore --staged .github/renovate.json5
                  git restore .github/renovate.json5
