---
name: lint-global

# This workflow is reused accross our repositories and enables auto-fix for a given actor

on:
    workflow_call:
        inputs:
            autofix-actor:
                description: Name of the actor that will trigger auto-fix
                default: renovate[bot]
                type: string

jobs:
    lint:
        name: pre-commit
        runs-on: ubuntu-latest
        timeout-minutes: 10
        steps:
            # This step is required as we want to use the bot for the checkout,
            # this way, the auto-fix step will commit using this user
            - name: Set autofix_pr environment variable
              run: |
                  if [[ "${{ github.actor }}" == "${{ inputs.autofix-actor }}" && "${{ github.event_name }}" == "pull_request" ]]; then
                    echo "autofix_pr=true" | tee -a "$GITHUB_ENV"
                  else
                    echo "autofix_pr=false" | tee -a "$GITHUB_ENV"
                  fi

            - name: Generate token for GitHub
              id: generate-github-token
              if: env.autofix_pr == 'true'
              uses: camunda/infra-global-github-actions/generate-github-app-token-from-vault-secrets@39cfd357d270487b9f1ac02bbdbcfc7ae4e19d97 # main
              with:
                  github-app-id-vault-key: GITHUB_APP_ID
                  github-app-id-vault-path: secret/data/products/infrastructure-experience/ci/common
                  github-app-private-key-vault-key: GITHUB_APP_PRIVATE_KEY
                  github-app-private-key-vault-path: secret/data/products/infrastructure-experience/ci/common
                  vault-auth-method: approle
                  vault-auth-role-id: ${{ secrets.VAULT_ROLE_ID }}
                  vault-auth-secret-id: ${{ secrets.VAULT_SECRET_ID }}
                  vault-url: ${{ secrets.VAULT_ADDR }}

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              if: env.autofix_pr == 'true'
              # see http>s://github.com/EndBug/add-and-commit?tab=readme-ov-file#working-with-prs
              with:
                  token: ${{ steps.generate-github-token.outputs.token }}
                  repository: ${{ github.event.pull_request.head.repo.full_name }}
                  ref: ${{ github.event.pull_request.head.ref }}

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              if: env.autofix_pr == 'false'

            # TODO: Renable when switching back to upstream actionlint
            # - name: Centralized Actionlint
            #   uses: camunda/infra-global-github-actions/actionlint@4c0c3611b80ac8e147f7991092a0e282b52c48fa # main

            # Required for pre-commit to work with Python referenced in .tool-versions for Ubuntu >= 24.04
            - name: Install Python dependencies
              run: |
                  sudo apt-get update
                  sudo apt-get install -y libsqlite3-dev libbz2-dev liblzma-dev

            # Setup tool cache
            - name: Install asdf tools
              uses: camunda/infraex-common-config/./.github/actions/asdf-install-tooling@b52f5bb65b5bb9e0b0458c46b8671bf1fe9a907f # 1.5.7

            - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
              id: pre_commit_check_first_run
              with:
                  extra_args: --all-files --verbose

            - name: Rerun pre-commit to autofix files if pre-commit failed
              uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
              if: always() && env.autofix_pr == 'true' && steps.pre_commit_check_first_run.outcome != 'success'
              id: pre_commit_check_second_run
              with:
                  extra_args: --all-files --verbose

            - name: Commit Changes made by pre-commit fix
              # This workflow checks the files after the first pre-commit run.
              # If the second run fixes the files, it indicates that pre-commit applied automatic fixes.
              # If the issue persists, it means pre-commit was unable to resolve it.
              # We want to apply automatic fixes made by pre-commit.
              if: always() && env.autofix_pr == 'true'  && steps.pre_commit_check_first_run.outcome != 'success' && steps.pre_commit_check_second_run.outcome
                  == 'success'
              uses: getsentry/action-github-commit@5972d5f578ad77306063449e718c0c2a6fbc4ae1 # main
              with:
                  github-token: ${{ steps.generate-github-token.outputs.token }}
                  message: 'chore: update files from pre-commit run'
